*{
    margin: 3;
    padding: 0;
}
.backgroud{
    background-color: white;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap:5px
    

}
.backgroud .back1{
    background-color: rgb(49, 83, 233);
    height: 100px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}    
.backgroud .back2{
    display: flex;
    width: 49%;
    gap: 5px;
    flex-wrap: wrap;
}
.back2 .item{
    height: 47px;
    width: 40%;
    background-color: rgb(49, 83, 233);
}